*{
	padding:0;
	margin:0; 
	}
	.wrap{
		width:1200px;
		height:500px;
		/* background:green; */
		margin:auto;
		overflow:hidden;
	}
	.parents{
		width:auto;
		height:250px;
		/* background:red; */
		margin-left:-3.33%;
	}
	.son{
		width:30%;
		height:auto;
		/* background:yellow; */
		float:left;
		margin-left:3.33%;
	}
	img{
		max-width: 100%;
	}
	.son img {margin-bottom: 24px;}
	.son h2 {
    font-size: 37px;
    margin-bottom: 10px;
}

.son p {
    font-size: 27px;
}